# Testing
pytest>=3.0
pytest-cov>=1.8
pytest-django>=2.8
pytest-spec>=0.2
pytest-pythonpath
pytest-sugar>=0.7.0
coverage>=3.7
codecov>=1.6
tox>=2.1.0
flake8>=2.2.5

# Docs
Sphinx>=1.2.3
sphinx_rtd_theme>=0.1.9

# Templates
Jinja2>=2.8
