[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-spec = "*"
codecov = "*"
"flake8" = "*"
isort = "*"
django-debug-toolbar = "*"
factory-boy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
coverage = "*"

[packages]
"e1839a8" = {path = ".", editable = true}
